.profile__input-box{
    border-bottom: 1px solid #424242;
    width: 100%;
    display: grid;
    grid-template-areas: "name input"
                         "error .";
    justify-content: space-between;
    padding-bottom: 4px;
}

.profile__input-box:last-of-type{
    border:none;
    margin-bottom: 188px;
    padding: 16px 0 0 0;
}

@media screen and (max-width:665px){
    .profile__input-box:last-of-type{
        margin-bottom: 352px;
        padding: 16px 0 0 0;
    }
}